<ion-content>
	<ion-grid>
		<ion-row class="ion-align-items-center">
			<ion-col>
				<div class="ion-text-center">PARLIMENT ST. #1</div>
			</ion-col>
		</ion-row>
		<ion-row class="ion-align-items-center">
			<ion-col size=4 *ngFor="let img of imgs; let i = index">
				<ion-item (click)="clickAnswer(i)" [color]="color(i)" lines="none">
					<ion-img [src]="img"></ion-img>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-button class="next-page-btn" fill="clear" color="primary" href="#">
		Next
		<ion-icon name="chevron-forward-outline"></ion-icon>
	</ion-button>
</ion-content>
