.question-imgs {
  height: 38vh;
  width: 47vh;
  margin: auto;
  display: block;
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.footer {
  bottom: 4em !important;
  position: absolute !important;
}

.next-page-btn {
  position: absolute !important;
  right: 0;
  font-size: 1em;
  top: -1px;

}

ion-app {
  --ion-font-family: 'BalooThambi';
}

.title {
  font-size: 1.5em !important;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  p {
    font-size: 6vh;
  }
}
