<ion-content>
    <ion-grid class="ion-text-center">
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <h2 class="page-total stats-green">{{totalRight}}</h2>
                        <p>Total of correct answers</p> <ion-icon name="happy-outline"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <h2 class="page-total stats-red">{{totalWrong}}</h2>
                        <p>Total of wrong answers</p> <ion-icon name="sad-outline"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <h2 class="page-total stats-blue">{{total}}</h2>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

